<html>
  <title>Summer Short Internship 2019</title>
  <script type="text/javascript">
  // TODO ここにボタンを制御するためのJSコードを記入してください。
  // home.html 同様
  </script>
  <body>
    	<h1>
          Todo Management System
    	</h1>
      <h4>2019 Summer Interhship Pre-task</h4>
      Success to register a todo task!

      <br><br>
    <button id="btn" value="Back">Back</button>
    <script>
      var p_btn = document.getElementById("btn");
      var func = function() {
        var form = document.createElement('form');
        var back = document.createElement('back');
         
        form.method = 'GET';
        form.action = '/';
         
        back.type = 'hidden';
        back.name = 'text';
         
        form.appendChild(back);
        document.body.appendChild(form);
         
        form.submit();
      };
      p_btn.onclick = func;
    </script>
  </body>
</html>
